<!doctype html>
<html class="no-js" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>远程问诊</title>

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>


    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileColor" content="#0e90d2">
    <script th:inline="javascript">
        var baseUrl = '[(${baseUrl})]';
        var picUrl = '[(${picUrl})]';
    </script>
    <!-- Amaze UI CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/amazeui.min.css}" />
    <style type="text/css">
        .one-panel{
            background-color: #f1f1f1;
        }
        .one-panel-list{
            background-color: white;
            padding: 9px 10px;
            font-size: 14px;
        }
        .orge{
            color: #f37b1d;
        }
    </style>
</head>
<body class="one-panel">

<div class="am-g">
    <div class="am-u-sm-12" style="padding: 0">
        <div id="orderArea" data-am-widget="tabs" class="am-tabs am-tabs-d2" style="margin: 10px 0;">
            <ul class="am-tabs-nav am-cf" style="background-color:white">
                <li class="am-active" style="border-bottom: 0;" id="ghli">
                    <div id="ghbt" style="left: 25%;border-top: 3px solid #29aff6;width: 50%;bottom: 0;position: absolute;display: block"></div>
                    <a href="javascript:toHos()">在线问诊</a></li>
                <li class="" style="border-bottom: 0;" id="checkli">
                    <div id="checkbt" style="left: 25%;border-top: 3px solid #29aff6;width: 50%;bottom: 0;position: absolute;display: none"></div>
                    <a href="javascript:toCheck()">预约问诊</a>
                </li>
            </ul>


        </div>
    </div>
</div>

<div class="am-g">
    <div class="am-u-sm-12" style="background-color: white;font-size: 14px;">
        <nav data-am-widget="menu" class="am-menu  am-menu-default">
            <a href="javascript: void(0)" class="am-menu-toggle">
                <i class="am-menu-toggle-icon am-icon-bars"></i>
            </a>


            <ul class="am-menu-nav am-avg-sm-3">
                <li class="">
                    <a href="##" class="" style="color: black;">全部</a>

                </li>
                <li class="am-parent">
                    <a href="##" class="" >北京市</a>
                    <ul class="am-menu-sub am-collapse  am-avg-sm-4 ">
                        <li class="">
                            <a href="##" class="" >北京市</a>
                        </li>
                        <li class="">
                            <a href="##" class="" >天津市</a>
                        </li>
                        <li class="">
                            <a href="##" class="" >哈尔滨市</a>
                        </li>
                        <li class="">
                            <a href="##" class="" >上海市</a>
                        </li>
                        <li class="">
                            <a href="##" class="" >深圳市</a>
                        </li>
                        <li class="">
                            <a href="##" class="" >广州市</a>
                        </li>
                    </ul>
                </li>
                <li class="am-parent">
                    <a href="#c3" class="" >皮肤科一门诊</a>
                    <ul class="am-menu-sub am-collapse  am-avg-sm-3 ">
                        <li class="">
                            <a href="##" class="" >内科一门诊</a>
                        </li>
                        <li class="">
                            <a href="##" class="" >外科二门诊</a>
                        </li>
                        <li class="">
                            <a href="##" class="" >骨科三门诊</a>
                        </li>
                        <li class="">
                            <a href="##" class="" >内分泌一门诊</a>
                        </li>
                        <li class="">
                            <a href="##" class="" >普外一门诊</a>
                        </li>
                        <li class="">
                            <a href="##" class="" >普外二门诊</a>
                        </li>
                    </ul>
                </li>

            </ul>

        </nav>
    </div>
</div>



<div class="am-g">
    <div class="am-u-sm-12" style="padding: 0">
        <div class="am-tabs-bd" style="border:0;">
            <div  id="ct1" class="am-tab-panel am-active" style="padding: 0 10px 15px 10px;">
                <div data-am-widget="list_news" class="am-list-news" >
                    <div class="am-list-news-bd">
                        <ul class="am-list" id="contentul">
                            <li  class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
                                <div class="am-u-sm-3 " >
                                    <img th:src="@{assets/project/img/man.png}" class="am-thumbnail" style="border:0;">
                                </div>
                                <div class=" am-u-sm-9 am-list-main" style="padding: 0 10px 0 0;">
			                  		<span >
			                  			<h3 class="am-fl am-list-item-hd">朱一光</h3>


										<div class="am-fr orge" style="font-size: 12px"> <span class="am-icon-rmb" style="font-size: 16px">120</span>/30分钟</div>
			                  		</span>

                                    <br>
                                    <span  style="font-size: 13px;">副主任医师</span>

                                    <span style="font-size: 13px;">&nbsp;&nbsp;皮肤一门诊</span>
                                    <br>
                                    <span class="" style="font-size: 14px">北京市医科大学第6临床医学院</span>
                                    <br>
                                    <span class="orge" style="font-size: 14px">1230问诊量</span>

                                    <i class="am-icon-star orge"></i>
                                    <i class="am-icon-star orge"></i>
                                    <i class="am-icon-star orge"></i>
                                    <i class="am-icon-star-half-empty orge"></i>
                                    <i class="am-icon-star-o orge"></i>
                                    &nbsp;

                                    <span class="am-fr orge">
									    	<img th:src="@{assets/project/img/circle.png}" style="width: 8px">&nbsp;空闲中</span>




                                </div>

                            <li  class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
                                <div class="am-u-sm-3 " >
                                    <img th:src="@{assets/project/img/man.png}" class="am-thumbnail" style="border:0;">
                                </div>
                                <div class=" am-u-sm-9 am-list-main" style="padding: 0 10px 0 0;">
			                  		<span >
			                  			<h3 class="am-fl am-list-item-hd">朱一光</h3>


										<div class="am-fr orge" style="font-size: 12px"> <span class="am-icon-rmb" style="font-size: 16px">120</span>/30分钟</div>
			                  		</span>

                                    <br>
                                    <span  style="font-size: 13px;">副主任医师</span>

                                    <span style="font-size: 13px;">&nbsp;&nbsp;皮肤一门诊</span>
                                    <br>
                                    <span class="" style="font-size: 14px">北京市医科大学第6临床医学院</span>
                                    <br>
                                    <span class="orge" style="font-size: 14px">1230问诊量</span>

                                    <i class="am-icon-star orge"></i>
                                    <i class="am-icon-star orge"></i>
                                    <i class="am-icon-star orge"></i>
                                    <i class="am-icon-star-half-empty orge"></i>
                                    <i class="am-icon-star-o orge"></i>
                                    &nbsp;

                                    <span class="am-fr orge">
									    	<img th:src="@{assets/project/img/circle.png}" style="width: 8px">&nbsp;空闲中</span>




                                </div>

                            <li  class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
                                <div class="am-u-sm-3 " >
                                    <img th:src="@{assets/project/img/man.png}" class="am-thumbnail" style="border:0;">
                                </div>
                                <div class=" am-u-sm-9 am-list-main" style="padding: 0 10px 0 0;">
			                  		<span >
			                  			<h3 class="am-fl am-list-item-hd">朱一光</h3>


										<div class="am-fr orge" style="font-size: 12px"> <span class="am-icon-rmb" style="font-size: 16px">120</span>/30分钟</div>
			                  		</span>

                                    <br>
                                    <span  style="font-size: 13px;">副主任医师</span>

                                    <span style="font-size: 13px;">&nbsp;&nbsp;皮肤一门诊</span>
                                    <br>
                                    <span class="" style="font-size: 14px">北京市医科大学第6临床医学院</span>
                                    <br>
                                    <span class="orge" style="font-size: 14px">1230问诊量</span>

                                    <i class="am-icon-star orge"></i>
                                    <i class="am-icon-star orge"></i>
                                    <i class="am-icon-star orge"></i>
                                    <i class="am-icon-star-half-empty orge"></i>
                                    <i class="am-icon-star-o orge"></i>
                                    &nbsp;

                                    <span class="am-fr orge">
									    	<img th:src="@{assets/project/img/circle.png}" style="width: 8px">&nbsp;空闲中</span>




                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div  id="ct2" class="am-tab-panel am-active" style="padding: 0 10px 15px 10px;">
                <div data-am-widget="list_news" class="am-list-news" >
                    <div class="am-list-news-bd">
                        <ul class="am-list" id="contentul">
                            <li  class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
                                <div class="am-u-sm-3 " >
                                    <img th:src="@{assets/project/img/man.png}" class="am-thumbnail" style="border:0;">
                                </div>
                                <div class=" am-u-sm-9 am-list-main" style="padding: 0 10px 0 0;">
			                  		<span >
			                  			<h3 class="am-fl am-list-item-hd">朱一光</h3>


										<div class="am-fr orge" style="font-size: 12px"> <span class="am-icon-rmb" style="font-size: 16px">120</span>/30分钟</div>
			                  		</span>

                                    <br>
                                    <span  style="font-size: 13px;">副主任医师</span>

                                    <span style="font-size: 13px;">&nbsp;&nbsp;皮肤一门诊</span>
                                    <br>
                                    <span class="" style="font-size: 14px">北京市医科大学第6临床医学院</span>
                                    <br>
                                    <span class="orge" style="font-size: 14px">1230问诊量</span>

                                    <i class="am-icon-star orge"></i>
                                    <i class="am-icon-star orge"></i>
                                    <i class="am-icon-star orge"></i>
                                    <i class="am-icon-star-half-empty orge"></i>
                                    <i class="am-icon-star-o orge"></i>
                                    &nbsp;

                                    <button type="button" class="am-fr am-btn am-btn-secondary am-round am-btn-xs"
                                            style="font-size: 13px;width: 60px;height: 25px;padding: 0;">余号:30</button>




                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/assets/project/js/jquery-1.7.1.js}"></script>
<script th:src="@{/assets/js/amazeui.min.js}"></script>

<script type="text/javascript">
    function toHos() {

        $("#ct1").addClass("am-active");
        $("#ct2").removeClass("am-active");
        $("#checkli").removeClass("am-active");
        $("#checkbt").hide();
        $("#ghli").attr("class","am-active");
        $("#ghbt").show();
    }
    function toCheck() {
        $("#ct2").addClass("am-active");
        $("#ct1").removeClass("am-active");
        $("#ghli").removeClass("am-active");
        $("#checkli").attr("class","am-active");
        $("#ghbt").hide();
        $("#checkbt").show();
    }
</script>
</body>
</html>