<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>预约就诊</title>

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>


    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileColor" content="#0e90d2">

    <!-- Amaze UI CSS -->
    <link rel="stylesheet" href="../assets/css/amazeui.min.css">
    <style type="text/css">
        .orge{
            color: #f37b1d;
            font-size: 12px;
        }
        .zanbtn{
            width: 70px;
            height: 22px;
            padding: 0;
            color: black;
            background-color: white;
            border-color: grey;
        }

    </style>
</head>
<body >
<div style="width: 100%;background-color: #0e90d2;height: 100px;">&nbsp;</div>
<div style="position: absolute;top: 12px;padding:10px;width: 100%;">
    <div class="am-panel am-panel-default">
        <div class="am-panel-bd">
            <div class="am-g">
                <div class="am-u-sm-3" style="padding: 0">
                    <img src="../img/man.png" class="am-thumbnail" style="border:0;">
                </div>
                <div class="am-u-sm-9">
                    <h3 class="am-fl am-list-item-hd" style="margin: 0">朱一光</h3>
                    &nbsp;
                    <span class="orge" style="font-size: 13px">12930问诊量</span>
                    &nbsp;
                    <i class="am-icon-star orge"></i>
                    <i class="am-icon-star orge"></i>
                    <i class="am-icon-star orge"></i>
                    <i class="am-icon-star-half-empty orge"></i>
                    <i class="am-icon-star-o orge"></i>

                    <br>
                    <span style="font-size: 13px;">皮肤一门诊</span>
                    <span style="font-size: 13px;">副主任医师</span>
                    <br>
                    <span class="" style="font-size: 14px">北京市医科大学第6临床医学院</span>
                </div>

                <div class="am-u-sm-12" style="font-size: 14px;margin-top: 10px;">
                    擅长:支气管炎,支气管炎,支气管炎,支气管炎,支气管炎,支气管炎,支气管炎,支气管炎,支气管炎,支气管炎,支气管炎,支气管炎,支气管炎.

                </div>
            </div>
        </div>
    </div>
    <span>排班信息</span>
    <br>
    <div class="am-container" style="padding: 0" >
        <hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
        <div class="am-g">
            <div class="am-u-sm-4">
                2019-04-25
            </div>
            <div class="am-u-sm-4 am-text-center">
                星期一
            </div>
            <div class="am-u-sm-4 am-text-right">
                <span class="am-icon-angle-right"></span>
            </div>
        </div>
        <hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
        <div class="am-g">
            <div class="am-u-sm-4">
                2019-04-25
            </div>
            <div class="am-u-sm-4 am-text-center">
                星期一
            </div>
            <div class="am-u-sm-4 am-text-right">
                <span class="am-icon-angle-right"></span>
            </div>
        </div>
        <hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
        <div class="am-g">
            <div class="am-u-sm-4">
                2019-04-25
            </div>
            <div class="am-u-sm-4 am-text-center">
                星期一
            </div>
            <div class="am-u-sm-4 am-text-right">
                <span class="am-icon-angle-right"></span>
            </div>
        </div>
        <hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
        <div class="am-g">
            <div class="am-u-sm-4">
                2019-04-25
            </div>
            <div class="am-u-sm-4 am-text-center">
                星期一
            </div>
            <div class="am-u-sm-4 am-text-right">
                <span class="am-icon-angle-right"></span>
            </div>
        </div>
        <hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
        <div class="am-g">
            <div class="am-u-sm-4">
                2019-04-25
            </div>
            <div class="am-u-sm-4 am-text-center">
                星期一
            </div>
            <div class="am-u-sm-4 am-text-right">
                <span class="am-icon-angle-right"></span>
            </div>
        </div>
        <hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
        <div class="am-g">
            <div class="am-u-sm-4">
                2019-04-25
            </div>
            <div class="am-u-sm-4 am-text-center">
                星期一
            </div>
            <div class="am-u-sm-4 am-text-right">
                <span class="am-icon-angle-right"></span>
            </div>
        </div>
        <hr data-am-widget="divider" style="" class="am-divider am-divider-default" />


    </div>
    <span>患者评价</span>
    <br>
    <br>
    <div class="am-container" style="padding: 0">
        <article class="am-comment" style="margin-bottom: 10px">

            <div class="am-comment-main" style="margin:0 ;position: unset;">
                <header class="am-comment-hd">
                    <!--<h3 class="am-comment-title">评论标题</h3>-->
                    <div class="am-comment-meta">
                        <img src="../img/yh.png" alt="" class="am-comment-avatar" width="48" height="48"/>
                        <a href="#link-to-user" class="am-comment-author" style="line-height: 35px;">王**</a>
                    </div>
                    <div class="am-fr" style="margin-right: 5px;line-height: 54px;">
                        <i class="am-icon-star orge"></i>
                        <i class="am-icon-star orge"></i>
                        <i class="am-icon-star orge"></i>
                        <i class="am-icon-star-half-empty orge"></i>
                        <i class="am-icon-star-o orge"></i>
                    </div>
                </header>

                <div class="am-comment-bd">
                    医德高尚医德高尚医德高尚医德高尚医德高尚医德高尚医德高尚
                    医德高尚医德高尚医德高尚医德高尚医德高尚医德高尚医德高尚
                    医德高尚医德高尚医德高尚医德高尚医德高尚医德高尚医德高尚
                </div>
                <footer class="am-comment-footer">
                    <div class="am-comment-actions">
                        <time datetime="2013-07-27T04:54:29-07:00" title="2013年7月27日 下午7:54 格林尼治标准时间+0800">2014-7-12 15:30</time>
                        <div class="am-fr">
                            <button type="button" class="am-btn am-btn-primary am-round zanbtn" style="font-size:  14px;" >
                                <span class="am-icon-thumbs-o-up" style="color:#f37b1d;line-height: 15px; font-size: 16px;"></span>&nbsp;9999</button>
                        </div>
                    </div>

                </footer>
            </div>
        </article>

    </div>


</div>
</div>



<script src="../js/jquery-1.7.1.js"></script>
<script src="../assets/js/amazeui.min.js"></script>

<script type="text/javascript">


</script>
</body>
</html>